<script>
  import moment from "moment";
  import createChart from "src/utils/createChart";

  document.addEventListener("astro:page-load", () => {
    if (!(window.location.hash === "#home")) {
      return;
    }

    const styles = getComputedStyle(document.documentElement);

    const errorColor = styles.getPropertyValue("--color-error").trim();
    const successColor = styles.getPropertyValue("--color-success").trim();

    let data: string | null = localStorage.getItem("data");

    let gastos = 0;
    let ingresos = 0;

    const date = moment();

    if (data !== null) {
      gastos = JSON.parse(data)
        .gasto.filter(
          (el: [string, number]) =>
            moment(el[0].split("T")[0]).format("YYYY-MM") ===
            date.format("YYYY-MM"),
          "month",
        )
        .reduce((a: number, b: [string, number]) => a + b[1], 0);

      ingresos = JSON.parse(data)
        .ingreso.filter(
          (el: [string, number]) =>
            moment(el[0].split("T")[0]).format("YYYY-MM") ===
            date.format("YYYY-MM"),
          "month",
        )
        .reduce((a: number, b: [string, number]) => a + b[1], 0);
    }

    const chart = createChart(
      "doughnut",
      "res-circle-mes",
      {
        labels: ["Gastos", "Ingresos"],
        datasets: [
          {
            data: [gastos, ingresos],
            backgroundColor: [errorColor, successColor],
            hoverOffset: 4,
          },
        ],
      },
      {
        circumference: 180,
        rotation: 270,
        plugins: { legend: { display: false } },
      },
    );

    document.addEventListener("fullscreenchange", (ev) => {
      setTimeout(() => {
        chart.resize();
      }, 200);
      console.log("cambiooo");
    });
  });
</script>

<div class="size-full">
  <canvas id="res-circle-mes" class="skeleton size-full"></canvas>
</div>
