---
interface Props {
    title: string;
    url?: string;
}

const { title, url } = Astro.props;
---

<div class="card bg-base-100 shadow-sm h-100 w-full">
    <div class="card-body">
        <h2 class="card-title">{title}</h2>
        <slot />
        <!--         <div class="justify-end card-actions">
            <button class="btn btn-primary">Buy Now</button>
        </div> -->
    </div>
</div>
