<script>
    import Chart from "chart.js/auto";
    import moment from "moment";
    import _ from "lodash";

    let data: string | null = localStorage.getItem("data");

    let gastos: { [key: string]: number } = {};
    let ingresos: { [key: string]: number } = {};

    const canva = document.getElementById("res-bar-mes") as HTMLCanvasElement;

    const date = moment();

    type internStruc = [string, number, string, number];

    /* interface dataStorage {
        gasto: internStruc;
        ingreso: internStruc;
    } */

    const obtenerDatos = (
        data: string,
        tipo: "gasto" | "ingreso",
    ): internStruc[] => {
        return JSON.parse(data)[tipo].filter(
            (el: [string, number]) =>
                moment(el[0].split("T")[0]).format("YYYY-MM") ===
                date.format("YYYY-MM"),
            "month",
        );
    };

    if (data !== null) {
        const tempGastos = obtenerDatos(data, "gasto");
        const tempIngresos = obtenerDatos(data, "ingreso");

        tempGastos.forEach((el) => {
            const key = el[0].split("T")[0];

            if (!gastos[key]) {
                gastos[key] = el[1];
            } else {
                gastos[key] += el[1];
            }
        });

        tempIngresos.forEach((el) => {
            const key = el[0].split("T")[0];

            if (!ingresos[key]) {
                ingresos[key] = el[1];
            } else {
                ingresos[key] += el[1];
            }
        });

        gastos = _(gastos).toPairs().sortBy(0).fromPairs().value();
    }

    const chart = new Chart(canva, {
        type: "bar",
        data: {
            datasets: [
                {
                    label: "Gastos",
                    data: Object.keys(gastos).map((el) => ({
                        x: el,
                        y: gastos[el],
                    })),
                    borderWidth: 1,
                    backgroundColor: "#f87171",
                    borderColor: "#f87171",
                },
                {
                    label: "Ingresos",
                    data: Object.keys(ingresos).map((el) => ({
                        x: el,
                        y: ingresos[el],
                    })),
                    borderWidth: 1,
                    backgroundColor: "#4ade80",
                    borderColor: "#4ade80",
                },
            ],
        },
        options: {
            responsive: true,
        },
    });

    window.addEventListener("local-storage-changed", (_ev) => {
        data = localStorage.getItem("data") as string;

        const tempGastos = obtenerDatos(data, "gasto");
        const tempIngresos = obtenerDatos(data, "ingreso");

        //reiniciar gastos e ingresos
        gastos = {};
        ingresos = {};

        tempGastos.forEach((el) => {
            const key = el[0].split("T")[0];

            if (!gastos[key]) {
                gastos[key] = el[1];
            } else {
                gastos[key] += el[1];
            }
        });

        tempIngresos.forEach((el) => {
            const key = el[0].split("T")[0];

            if (!ingresos[key]) {
                ingresos[key] = el[1];
            } else {
                ingresos[key] += el[1];
            }
        });

        gastos = _(gastos).toPairs().sortBy(0).fromPairs().value(); //ordenar objeto

        chart.data.datasets = [
            {
                label: "Gastos",
                data: Object.keys(gastos).map((el) => ({
                    x: el,
                    y: gastos[el],
                })),
                borderWidth: 1,
                backgroundColor: "#f87171",
                borderColor: "#f87171",
            },
            {
                label: "Ingresos",
                data: Object.keys(ingresos).map((el) => ({
                    x: el,
                    y: ingresos[el],
                })),
                borderWidth: 1,
                backgroundColor: "#4ade80",
                borderColor: "#4ade80",
            },
        ];

        chart.update();
    });
</script>

<div class="size-80">
    <canvas id="res-bar-mes" style="width: 100%; height:100%"></canvas>
</div>
