---
import RawDataViewer from "@components/controlGastos/RawDataViewer.vue";
import Layout from "src/layouts/ControlGastosLayout.astro";
import InputRawData from "@components/controlGastos/InputRawData.vue";
---

<Layout url="ajustes">
    <p>Datos</p>
    <RawDataViewer client:visible />
    <InputRawData client:visible />
</Layout>
