---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Scanner qr">
  <video id="video-element"></video>
  <button id="button-start">Scanear</button>
  <button id="button-stop">Detener escaneo</button>
  <p id="resultado"></p>
</Layout>
<script>
  import QrScanner from "qr-scanner";
  const videoElement = document.getElementById(
    "video-element"
  ) as HTMLVideoElement;
  const buttonScanear = document.getElementById("button-start");
  const buttonStop = document.getElementById("button-stop");
  const resultContainer = document.getElementById(
    "resultado"
  ) as HTMLParagraphElement;

  function onResult(result: QrScanner.ScanResult) {
    if (!result) {
      resultContainer.innerHTML = "Sin resultado";
    } else resultContainer.innerHTML = result.data;
    console.log(result);
  }

  const qrScanner = new QrScanner(videoElement, onResult, {
    onDecodeError() {},
  });
  buttonScanear!.addEventListener("click", () => {
    console.log("cliccck");
    qrScanner.start();
  });
  buttonStop!.addEventListener("click", () => {
    qrScanner.stop();
  });
</script>
