---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div
	class={`card bg-base-100 p-4 shadow-xl ${className} min-w-full group hover:outline outline-primary transition-all ease-in duration-100 hover:scale-110 hover:backdrop-blur-sm hover:bg-base-100/50`}
	onmouseover="this.classList.add('z-50')"
	onmouseout="this.classList.remove('z-50')"
>
	<div class="prose">
		<slot />
	</div>
</div>
