---
import Layout from "src/layouts/ControlGastosLayout.astro";
import ChartResumenMes from "@components/controlGastos/ChartCircleMes.astro";
import ChartBarMes from "@components/controlGastos/ChartBarMes.astro";
import ChartWrapper from "@components/controlGastos/ChartWrapper.astro";
import ChartBarCategoriaMes from "@components/controlGastos/ChartBarCategoriaMes.astro";
import Stats from "@components/controlGastos/Stats.vue";
---

<Layout url="control">
  <div class="flex flex-col gap-4 items-center">
    <ChartWrapper title="Resumen del mes actual">
      <div class="h-56 md:h-100">
        <ChartResumenMes />
      </div>
      <Stats client:visible />
    </ChartWrapper>
    <ChartWrapper
      title="Gastos por día del mes actual"
      class="h-150"
      idWrapper="res-bar-mes"
    >
      <ChartBarMes />
    </ChartWrapper>
    <ChartWrapper
      title="Gastos por categoría del mes actual"
      class="h-150"
      idWrapper="res-bar-mes-categoria"
    >
      <ChartBarCategoriaMes />
    </ChartWrapper>
  </div>
</Layout>
<script>
  document.addEventListener("astro:page-load", () => {
    document.addEventListener("click", async (ev) => {
      const targetContainer: string | null =
        (
          ev?.target?.closest(".btn") as unknown as {
            dataset: { targetFullscreen?: string };
          }
        )?.dataset?.targetFullscreen ?? null;

      if (targetContainer === null) {
        return;
      }

      try {
        // Activar fullscreen

        const container = document.getElementById(
          targetContainer,
        ) as HTMLElement;
        if (!document.fullscreenElement) {
          await container.requestFullscreen();

          // Intentar forzar horizontal (Android)
          if (screen.orientation && screen.orientation.lock) {
            await screen.orientation.lock("landscape");
          }
        } else {
          await document.exitFullscreen();

          // Regresar orientación normal
          if (screen.orientation && screen.orientation.unlock) {
            screen.orientation.unlock();
          }
        }
      } catch (err) {
        console.error("Error fullscreen/orientation:", err);
      }
    });

    /* btn?.addEventListener("click", async () => {
      console.log(btn.dataset.target);

      const container = document.getElementById(btn.dataset.target);
      try {
        // Activar fullscreen
        if (!document.fullscreenElement) {
          await container.requestFullscreen();

          // Intentar forzar horizontal (Android)
          if (screen.orientation && screen.orientation.lock) {
            await screen.orientation.lock("landscape");
          }
        } else {
          await document.exitFullscreen();

          // Regresar orientación normal
          if (screen.orientation && screen.orientation.unlock) {
            screen.orientation.unlock();
          }
        }
      } catch (err) {
        console.error("Error fullscreen/orientation:", err);
      }
    }); */
  });
</script>
