---
import Layout from "src/layouts/ControlGastosLayout.astro";
import ChartResumenMes from "@components/controlGastos/ChartCircleMes.astro";
import ChartBarMes from "@components/controlGastos/ChartBarMes.astro";
import ChartWrapper from "@components/controlGastos/ChartWrapper.astro";
import ChartBarCategoriaMes from "@components/controlGastos/ChartBarCategoriaMes.astro";
---

<Layout url="control">
    <div class="flex flex-col gap-4 items-center">
        <ChartWrapper title="Vista general del mes actual">
            <ChartResumenMes />
        </ChartWrapper>
        <ChartWrapper title="Resumen por día del mes actual">
            <ChartBarMes />
        </ChartWrapper>
        <ChartWrapper title="Resumen de gastos por categoría del mes actual">
            <ChartBarCategoriaMes />
        </ChartWrapper>
    </div>
</Layout>
